In [19]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\nouri\appdata\local\programs\python\python313\lib\site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\nouri\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [21]:
import mysql.connector as connector

In [22]:
connection = connector.connect(user="root", password="Fn-@14061377", db="little_lemon_db")

In [23]:
cursor = connection.cursor()

In [24]:
show_tables_query = "show tables"
cursor.execute(show_tables_query)

In [25]:
tables_results = cursor.fetchall()

In [26]:
print(results)

[('bookings',), ('customers',), ('menu',), ('menuitems',), ('order_delivery_status',), ('orders',), ('ordersview',), ('staff_information',)]

In [27]:
join_query = """
select
    C.name,
    C.contact_details,
    O.total_cost
from
    Customers as C
    inner join
    Orders as O
on
    C.customer_id = O.customer_id
where
    O.total_cost > 60;
"""
cursor.execute(join_query)

In [28]:
join_results = cursor.fetchall()

In [29]:
print(join_results)

[]